{% extends 'polls/base_site.html' %}

{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/formset.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/polls.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="alerts">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    </div>
    {{ block.super }}
{% endblock %}