{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jqplot/jquery.jqplot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.pieRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.barRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js' %}"></script>
<link type="text/css" href="{% static 'css/jqplot/jquery.jqplot.min.css' %}" rel="stylesheet" />
